.title {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}
#links {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.shakshuka {
    float: left;
    display: block;
    margin-left: 70px;

}
.falafel {
    float: center;
    display: inline-block;
}
.hummus { float: right;
    display: inline-block;
    margin-right: 70px;
}
